{% extends "login_base.html" %}
{% block content %}
{% load static %}
        <form id="login-form" class="form-container" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <img src="{% static "/src/icon_fav.png" %}" alt="logo oficial do evento">
            <h2>Login</h2>
            <label for="login-username">Nome de Usuário:</label>
            <input type="text" id="login-username" name="login-username" required>
            <label for="login-senha">Senha:</label>
            <div class="password-input-container">
                <input type="password" id="login-senha" name="login-senha" required>
                <i class="toggle-password fas fa-eye-slash"></i>
            </div>
            <div id="senha-feedback"></div>
            <div id="senha-validation-message" style="color: red;"></div>
            <p>{{ error }}</p>
            <input type="submit" value="Entrar">
            <button type="button" id="toggle-cadastro" class="cadastro-btn">Cadastre-se</button>
        </form>
{% endblock %}