<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
    <link rel="shortcut icon" href='{% static "src/icon_fav.png" %}' type="image/x-icon">
    <title>III COAMA - CONGRESSO AMAZÔNICO DE MINERAÇÃO, METALURGIA E MATERIAIS</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>

<body>
    <!--inicio menu login-->
    <div class="background-menu-login">
        <div class="container">
            <nav class="menu-login">
                <div class="menu-login-esquerda">
                    <a href="mailto:coama.event@gmail.com" target="_blank">
                        <img src='{% static "src/envelope.png" %}' alt="Icone e-mail" class="icon">
                        <span>coama.event@gmail.com</span>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5594984449527" target="_blank">
                        <img src='{% static "src/whatsapp.png" %}' alt="Icone Whatsapp" class="icon">
                        <span>(94)98444-9527</span>
                    </a>
                </div>
                <div class="redes">
                    <a href="https://www.linkedin.com/in/congresso-amazonico-de-mineracao-metalurgia-e-materiais/?originalSubdomain=br"
                        target="_blank"><img src='{% static "src/linkedin.png" %}' alt="Icone Linkedin"
                            class="icon"></a>
                    <a href="https://www.tiktok.com/@evento.coama?_t=8lr5zr2LhiP&_r=1" target="_blank"><img
                            src='{% static "src/tiktok.png" %}' alt="Icone Tiktok" class="icon"></a>
                    <a href="https://www.instagram.com/eventocoama/" target="_blank"><img
                            src='{% static "src/instagram.png" %}' alt="Icone Instagram" class="icon"></a>
                </div>
            </nav>
        </div>
    </div>
    <!--fim menu login-->

    {% if payed == 'False' %}
    <div class="payment-box">
        <h2 style="font-size: 15px">Faça apenas o pagamento da inscrição</h2>
        <div id="wallet_container"></div>

        <div class="selection-courses-box">
            <h2 style="font-size: 15px">Ou faça o pagamento da inscrição com os minicursos e receba 10% de desconto</h2>
            <button id="selection-courses">Selecione os minicursos</button>
        </div>
    </div>
    {% endif %}

    <!--início menu principal-->
    <div id="main-heather" class="menu-principal-container" style="margin-bottom: 20px">
        <div class="container">
            <nav class="menu-principal">
                <div class="titulo">
                    <h1>Página do Participante</h1>
                </div>
            </nav>
        </div>
    </div>

    <div id="main-heather" class="menu-principal-container-mobile">
        <div class="container">
            <nav class="menu-principal-mobile">
                <div class="titulo">
                    <ul>
                        <input type='checkbox' id='check' />
                        <span class="menu">
                            <li class="nav-item" data-target="dados-pessoais">Dados Pessoais</li>
                            <li class="nav-item" data-target="mini-cursos">Minicursos</li> 
                            <li class="nav-item" data-target="submissao-trabalho">Submissão de Trabalho</li> 
                            <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
                        </span>
                        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
                    </ul>
                    <h1>Página do Participante</h1>
                </div>
            </nav>
        </div>
    </div>
    
    <main>
        
        <div class="container-main">
            <div class="content first-content">
                <div class="first-column">
                    <h2 class="title title-primary">Bem-Vindo!</h2>
                    <ul class="first-column-ul">
                        <li class="nav-item" data-target="dados-pessoais"><i class="fas fa-user icon"></i>Dados Pessoais</li>
                        <li class="nav-item" data-target="mini-cursos"><i class="fas fa-book icon"></i>Minicursos</li>
                        <li class="nav-item" data-target="submissao-trabalho"><i class="fas fa-file-alt icon"></i>Submissão de Trabalho</li>
                    </ul> 
                </div>    
                <div class="second-column">
                    <div class="dados-pessoais">
                        
                        <div class="box">
                            <h2>Nome Crachá:</h2>
                            <p>{{nomecracha}}</p>
                        </div>

                        <div class="box">
                            <h2>CPF:</h2>
                            <p>{{cpf}}</p>
                        </div>
                           
                        <div class="box">
                            <h2>E-mail:</h2>
                            <p>{{email}}</p>
                        </div>

                        <div class="box">
                            <h2>Telefone:</h2>
                            <p>{{telefone}}</p>
                        </div>

                        <div class="box">
                            <h2>Cidade:</h2>
                            <p>{{cidade}}</p>
                        </div>

                        <div class="box">
                            <h2>Estado:</h2>
                            <p>{{estado}}</p>
                        </div>
                        
                        {% if user_type == 1 %}
                        <div class="box">
                            <h2>Curso:</h2>
                            <p>{{curso}}</p>
                        </div>

                        <div class="box">
                            <h2>Instituição:</h2>
                            <p>{{instituicao}}</p>
                        </div>

                        <div class="box">
                            <h2>Matrícula:</h2>
                            <p>{{matricula}}</p>
                        </div>
                        {% endif %}

                        {% if user_type == 2 %}
                        <div class="box">
                            <h2>Área de atuação:</h2>
                            <p>{{area}}</p>
                        </div>

                        <div class="box">
                            <h2>Instituição:</h2>
                            <p>{{instituicao}}</p>
                        </div>
                        {% endif %}

                        {% if user_type == 3 %}
                        <div class="box">
                            <h2>Empresa:</h2>
                            <p>{{empresa}}</p>
                        </div>
                        {% endif %}                    
                    </div>
                    <div class="mini-cursos" style="display: none;">
                        <form action="{% url 'subscription' %}" method="POST" style="width: 100%;display: inherit;flex-direction: inherit;">
                                {% csrf_token %}
                                <div class="card">
                                    <input type="checkbox" name="Consultoria Mineral e Ambiental: Uma Abordagem Prática|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Consultoria Mineral e Ambiental: Uma Abordagem Prática</h5>
                                            <span>Ministrante: Cassiane Souza</span>
                                            <br>
                                            <span>Turno: Manhã 
                                            </span>
                                            <br>
                                            <span>Carga Horária: 4h
                                            <br>
                                            </span>Vagas: 30
                                            <br>
                                            <br>
                                               
                                            <span> <strong>Descrição:</strong> Importância da Consultoria Mineral e Ambiental na indústria de mineração;
                                                O Papel do Consultor Mineral e Ambiental;
                                                Responsabilidades e tarefas típicas de um consultor;
                                                Competências e habilidades necessárias;
                                                Licenciamento Mineral e Ambiental na Prática;
                                                Visão geral do processo de licenciamento;
                                                Como lidar com Órgãos reguladores/fiscalizadores/licenciadores nas esferas Municipal, Estadual e Federal. </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Inovações em Reologia e Escoamento de Polpas|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Inovações em Reologia e Escoamento de Polpas</h5>
                                       <span>Ministrante: Jean Louzada/ Neres Almeida/ Henrique Gonçalves</span>
                                            <br>
                                            <span>Turno: Manhã
        
                                            </span>
                                            <br>
                                            <span>Carga Horária: 4h
                                            <br>
                                            </span>Vagas: 30
                                            <br>
                                            <br>
                                            <span> <strong>Descrição:</strong> Conceitos básicos de reologia, modelos reológicos, reometria rotacional e tubular, princípio da entropia máxima aplicado à reologia e ao escoamento de fluidos.
                                            </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Melhorias Operacionais na Mineração: Aplicação de Tecnologia (SQL) para otimização de KPIs|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Melhorias Operacionais na Mineração: Aplicação de Tecnologia (SQL) para otimização de KPIs </h5>
                                        <span>Ministrante: Lucas Resende</span>
                                        <br>
                                        <span>Turno: Manhã
                                        </span>
                                        <br>
                                        <span>Carga Horária: 4h
                                        <br>
                                        </span>Vagas: 25
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> Nesse minicurso iremos abortar os principais indicadores (KPIs) que devem ser analisados quando o assunto é uma operação eficiente.
                                            Além disso iremos abordar como esses KPIs são construídos através da coleta de dados por um sistema de Gestão Operacional de Mineração e como podemos aplicar uma Linguagem de Consulta Estruturada (SQL) para obtenção desses dados a partir de um Banco de Dados Relacional. </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Fadiga de materiais utilizando o ANSYS Workbench.|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Fadiga de materiais utilizando o ANSYS Workbench.</h5>
                                            <span>Ministrante: Márcio Mafra</span>
                                            <br>
                                            <span>Turno: Manhã/Tarde
                                            </span>
                                            <br>
                                            <span>Carga Horária: 6h
                                            <br>
                                            </span>Vagas: 20
                                            <br>
                                            <br>
                                            <span> <strong>Descrição:</strong> O curso vai abordar os fundamentos e definições da fadiga de materiais, bem como, apresentar os recursos disponíveis no Ansys Mechanical Fatigue Tool e suas configurações. Também serão apresentados uma introdução ao cálculo de fadiga de alto ciclo ou método SN, descrição das propriedades de material/curva SN e limite de fadiga, carregamentos de amplitude constante e variável, fatores de correção e sua aplicação, obtenção de resultados para avaliação da fadiga como dano, vida e fator de segurança. </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Simulação de metamateriais.|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Simulação de metamateriais.</h5>
                                        <span>Ministrante: Luiz Fernando</span>
                                        <br>
                                        <span>Turno: Manhã/Tarde
                                        </span>
                                        <br>
                                        <span>Carga Horária: 6h
                                        <br>
                                        </span>Vagas: 20
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> O minicurso abordará os fundamentos e aplicações dos metamateriais acústicos. Contém uma  introdução e motivação para o assunto, as principais características e propriedades dos metamateriais, com exemplos de casos de simulação e otimização. </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Nanotecnologia|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Nanotecnologia e Desenvolvimento Sustentável</h5>
                                            <span>Ministrante: Tatiana Mazzo</span>
                                            <br>
                                            <span>Turno: Manhã
                                            </span>
                                            <br>
                                            <span>Carga Horária: 4h
                                            <br>
                                            </span>Vagas: 30
                                            <br>
                                            <br>
                                            <span> <strong>Descrição:</strong> O curso abordará desde os conceitos fundamentais, até as aplicações práticas em materiais avançados. Serão apresentadas as técnicas de síntese e caracterização em escala nanométrica, com ênfase em métodos sustentáveis e práticas verdes. Descubra como a nanotecnologia pode impulsionar novas tecnologias e ao mesmo tempo promover o desenvolvimento sustentável. </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Domínio da Eletroresistividade: Planejamento e Execução de Estudos Geofísicos|6h|40" id="card1">
                                    <label for="card1">
                                        <h5>Domínio da Eletroresistividade: Planejamento e Execução de Estudos Geofísicos</h5>
                                            <span>Ministrante: Allex Raiol</span>
                                            <br>
                                            <span>Turno: Manhã/Tarde
                                            </span>
                                            <br>
                                            <span>Carga Horária: 6h
                                            <br>
                                            </span>Vagas: 20
                                            <br>
                                            <br>
                                            <span> <strong>Descrição:</strong> Este curso visa proporcionar uma compreensão abrangente e prática das técnicas de eletroresistividade aplicadas em estudos geofísicos, desde o planejamento inicial até a interpretação final dos dados. Os participantes sairão preparados para aplicar os conhecimentos adquiridos em projetos reais, enfrentando os desafios e aproveitando as oportunidades que a eletroresistividade oferece no campo da geofísica.  </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Procedimento de Outorga de Recursos Hídricos: Um Guia prático|4h|40" id="card1">
                                    <label for="card1">
                                        <h5>Procedimento de Outorga de Recursos Hídricos: Um Guia prático</h5>
                                            <span>Ministrante: Brenda Barros</span>
                                            <br>
                                            <span>Turno: Manhã
                                            </span>
                                            <br>
                                            <span>Carga Horária: 4h
                                            <br>
                                            </span>Vagas: 30
                                            <br>
                                            <br>
                                            <span> <strong>Descrição:</strong> O minicurso em questão tem como finalidade apresentar as modalidades de outorga de recursos hídricos, emitidos pela Secretaria do Estado de Meio Ambiente (SEMAS/PA), bem como o detalhamento da legislação específica existente, requisitos e laudos técnicos necessários para a obtenção desse tipo de autorização.  Também será abordado o novo sistema de protocolos e processos, instituído pelo órgão. </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Introdução ao ArcGis Pro Aplicado à Exploração Mineral|6h|40" id="card1">
                                    <label for="card1">
                                        <h5>Introdução ao ArcGis Pro Aplicado à Exploração Mineral</h5>
                                            <span>Ministrante: Gabriel Amorim</span>
                                            <br>
                                            <span>Turno: Manhã/Tarde
                                            <br>
                                            </span>Vagas: 20
                                            <br>
                                            <span>Carga Horária: 6h
                                            </span>
                                            <br>
                                                <br>
                                                <br>
                                            <span> <strong>Descrição:</strong> No mini-curso de introdução ao ArcGis Pro aplicado à exploração mineral será apresentado a nova interface do software, funcionalidades básicas mais utilizadas para confecção de mapas e planejamento de atividades relacionadas a exploração mineral (Planejamento de Sondagem, Linhas para levantamento geofísico, Programação de Amostragem de solo, Sondagem a Trado e Perfis de mapeamento Geológico).
                                            </span>
                                    </label>
                                </div>
                                <div class="card">
                                    <input type="checkbox" name="Aspectos Gerais da Sondagem desde ferramental, planejamento, execução até a validação.|6h|40" id="card1">
                                    <label for="card1">
                                        <h5>Aspectos Gerais da Sondagem desde ferramental, planejamento, execução até a validação.</h5>
                                            
                                        <span>Ministrante: Nattânia Santos/ Bruno Mateus/ Milton Carvalho</span>
                                        <br>
                                        <span>Turno: Manhã/Tarde
                                        </span>
                                        <br>
                                        <span>Carga Horária: 6h
                                        <br>
                                        </span>Vagas: 15
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> O curso terá uma abordagem teórica e prática sobre o mundo da sondagem. Primeiramente entender o que são sondas, tipos e funcionamento, assim seus ferramentais, como ocorre a operação e a arte de 'pescar' o testemunho. 
                                            Na parte prática iremos entender e avaliar as informações contidas nos boletins de sondagem, a fim de verificar a questão associadas a taxa de avanço e recuperação, bem como as implicações da diferença desses itens.
                                        </span>
                                    </label>
                                </div>

                            <input type="submit" value="Inscrever-se" id="submitBtn" class="button" onclick="return validateForm();">
                        </form>
                    </div>
                    <div class="submissao-trabalho" style="display: none;">
                        <p>Para baixar os arquivos com exemplos de como devem ser formatados os trabalhos, clique nos botões abaixo:</p>
                        <a href="https://download1500.mediafire.com/ixfk96yxyiag5y55sxq6Wig_32vKO7VmxYLpbseJzIxFNjFjfmGV89Jf7y0gb5pEun6VCIvDMl5FjMDIYFjOm9SBSzaPWFIateQXdrQGABscEaaBPT7rw6hHGqXrJfY5zDr6W6IiL_l5QrZo1MdrrzLNtsHB7wqjDMeyzKqiGuWEg-M/fp6zgbsntbe3ynr/Modelo+de+Apresenta%C3%A7%C3%A3o+%28Palestras%29.pptx" download class="button">
                            <i class="fas fa-download"></i> Baixar Modelo de Apresentação
                        </a>
                        <a href="https://download1523.mediafire.com/gn6p1x26jjbgya5VWUvTLPD3Jn5plB4DLv9pFhaf13TIG8YsmjkSHBURJ2Hkalz6r6rQCBFRKe6EBnwnYBnVRxsfWyM20AmyXo2PkNPPyJoB3uezfOGMsNOF0pqOcYvJxr9CdumnYeJnQdecsEFGswxk42R5e2QH3506gzDYXYYPYdI/ni6lv4feuh068tk/Modelo+de+Banner+III+COAMA.pptx" download class="button">
                            <i class="fas fa-download"></i> Baixar Modelo de Banner
                        </a>
                        <a href="https://download854.mediafire.com/j4j9ysx9udegHXMO-UPQOCGDKzRX57bg3eI1gZ9vGmCPrUwp526Wn6HxYsLcmgBHG7cD1c7YaFoWnKRFzSP7BtI6qx_qO5oOr9bjPAprIlE9IGqY0ACclDiniGe_FMNI32p7HsNOZgiQrNvfHnqZdaDLI3-pxVxx80rvXgojJtXgnl8/o88kny95cara0lh/Modelo_de_artigo_Coama.docx" download class="button">
                            <i class="fas fa-download"></i> Baixar Modelo de Artigo
                        </a>
                        <form action="{% url 'send-work' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Selecione o arquivo que deseja enviar para avaliação:</p>
                            <label class="label-input" for="comprovante-vinculo">
                                <i class="fas fa-file-alt icon-modify"></i>
                                {{ form.file }}
                            </label>
                            
                            <input type="submit" value="Enviar" id="submitBtn" class="button">
                        </form>
                    </div>
                </div>
    
                
                    
        </div>
        </div>
        <div class="container-main-mobile">  
                <div class="second-column">
                    <div class="dados-pessoais">
                        
                        <div class="box">
                            <h2>Nome Crachá:</h2>
                            <p>{{nomecracha}}</p>
                        </div>

                        <div class="box">
                            <h2>CPF:</h2>
                            <p>{{cpf}}</p>
                        </div>
                           
                        <div class="box">
                            <h2>E-mail:</h2>
                            <p>{{email}}</p>
                        </div>

                        <div class="box">
                            <h2>Telefone:</h2>
                            <p>{{telefone}}</p>
                        </div>

                        <div class="box">
                            <h2>Cidade:</h2>
                            <p>{{cidade}}</p>
                        </div>

                        <div class="box">
                            <h2>Estado:</h2>
                            <p>{{estado}}</p>
                        </div>

                        {% if user_type == 1 %}
                        <div class="box">
                            <h2>Curso:</h2>
                            <p>{{curso}}</p>
                        </div>

                        <div class="box">
                            <h2>Instituição:</h2>
                            <p>{{instituicao}}</p>
                        </div>

                        <div class="box">
                            <h2>Matrícula:</h2>
                            <p>{{matricula}}</p>
                        </div>
                        {% endif %}

                        {% if user_type == 2 %}
                        <div class="box">
                            <h2>Área de atuação:</h2>
                            <p>{{area}}</p>
                        </div>

                        <div class="box">
                            <h2>Instituição:</h2>
                            <p>{{instituicao}}</p>
                        </div>
                        {% endif %}

                        {% if user_type == 3 %}
                        <div class="box">
                            <h2>Empresa:</h2>
                            <p>{{empresa}}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mini-cursos" style="display: none;">
                        <form action="{% url 'subscription' %}" method="POST" style="width: 100%;display: inherit;flex-direction: inherit;">
                            {% csrf_token %}
                            <div class="card">
                                <input type="checkbox" name="Consultoria Mineral e Ambiental: Uma Abordagem Prática|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Consultoria Mineral e Ambiental: Uma Abordagem Prática</h5>
                                        <span>Ministrante: Cassiane Souza</span>
                                        <br>
                                        <span>Turno: Manhã 
                                        </span>
                                        <br>
                                        <span>Carga Horária: 4h
                                        <br>
                                        </span>Vagas: 30
                                        <br>
                                        <br>
                                           
                                        <span> <strong>Descrição:</strong> Importância da Consultoria Mineral e Ambiental na indústria de mineração;
                                            O Papel do Consultor Mineral e Ambiental;
                                            Responsabilidades e tarefas típicas de um consultor;
                                            Competências e habilidades necessárias;
                                            Licenciamento Mineral e Ambiental na Prática;
                                            Visão geral do processo de licenciamento;
                                            Como lidar com Órgãos reguladores/fiscalizadores/licenciadores nas esferas Municipal, Estadual e Federal. </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Inovações em Reologia e Escoamento de Polpas|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Inovações em Reologia e Escoamento de Polpas</h5>
                                   <span>Ministrante: Jean Louzada/ Neres Almeida/ Henrique Gonçalves</span>
                                        <br>
                                        <span>Turno: Manhã
    
                                        </span>
                                        <br>
                                        <span>Carga Horária: 4h
                                        <br>
                                        </span>Vagas: 30
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> Conceitos básicos de reologia, modelos reológicos, reometria rotacional e tubular, princípio da entropia máxima aplicado à reologia e ao escoamento de fluidos.
                                        </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Melhorias Operacionais na Mineração: Aplicação de Tecnologia (SQL) para otimização de KPIs|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Melhorias Operacionais na Mineração: Aplicação de Tecnologia (SQL) para otimização de KPIs </h5>
                                    <span>Ministrante: Lucas Resende</span>
                                    <br>
                                    <span>Turno: Manhã
                                    </span>
                                    <br>
                                    <span>Carga Horária: 4h
                                    <br>
                                    </span>Vagas: 25
                                    <br>
                                    <br>
                                    <span> <strong>Descrição:</strong> Nesse minicurso iremos abortar os principais indicadores (KPIs) que devem ser analisados quando o assunto é uma operação eficiente.
                                        Além disso iremos abordar como esses KPIs são construídos através da coleta de dados por um sistema de Gestão Operacional de Mineração e como podemos aplicar uma Linguagem de Consulta Estruturada (SQL) para obtenção desses dados a partir de um Banco de Dados Relacional. </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Fadiga de materiais utilizando o ANSYS Workbench.|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Fadiga de materiais utilizando o ANSYS Workbench.</h5>
                                        <span>Ministrante: Márcio Mafra</span>
                                        <br>
                                        <span>Turno: Manhã/Tarde
                                        </span>
                                        <br>
                                        <span>Carga Horária: 6h
                                        <br>
                                        </span>Vagas: 20
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> O curso vai abordar os fundamentos e definições da fadiga de materiais, bem como, apresentar os recursos disponíveis no Ansys Mechanical Fatigue Tool e suas configurações. Também serão apresentados uma introdução ao cálculo de fadiga de alto ciclo ou método SN, descrição das propriedades de material/curva SN e limite de fadiga, carregamentos de amplitude constante e variável, fatores de correção e sua aplicação, obtenção de resultados para avaliação da fadiga como dano, vida e fator de segurança. </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Simulação de metamateriais.|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Simulação de metamateriais.</h5>
                                    <span>Ministrante: Luiz Fernando</span>
                                    <br>
                                    <span>Turno: Manhã/Tarde
                                    </span>
                                    <br>
                                    <span>Carga Horária: 6h
                                    <br>
                                    </span>Vagas: 20
                                    <br>
                                    <br>
                                    <span> <strong>Descrição:</strong> O minicurso abordará os fundamentos e aplicações dos metamateriais acústicos. Contém uma  introdução e motivação para o assunto, as principais características e propriedades dos metamateriais, com exemplos de casos de simulação e otimização. </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Nanotecnologia|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Nanotecnologia e Desenvolvimento Sustentável</h5>
                                        <span>Ministrante: Tatiana Mazzo</span>
                                        <br>
                                        <span>Turno: Manhã
                                        </span>
                                        <br>
                                        <span>Carga Horária: 4h
                                        <br>
                                        </span>Vagas: 30
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> O curso abordará desde os conceitos fundamentais, até as aplicações práticas em materiais avançados. Serão apresentadas as técnicas de síntese e caracterização em escala nanométrica, com ênfase em métodos sustentáveis e práticas verdes. Descubra como a nanotecnologia pode impulsionar novas tecnologias e ao mesmo tempo promover o desenvolvimento sustentável. </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Domínio da Eletroresistividade: Planejamento e Execução de Estudos Geofísicos|6h|40" id="card1">
                                <label for="card1">
                                    <h5>Domínio da Eletroresistividade: Planejamento e Execução de Estudos Geofísicos</h5>
                                        <span>Ministrante: Allex Raiol</span>
                                        <br>
                                        <span>Turno: Manhã/Tarde
                                        </span>
                                        <br>
                                        <span>Carga Horária: 6h
                                        <br>
                                        </span>Vagas: 20
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> Este curso visa proporcionar uma compreensão abrangente e prática das técnicas de eletroresistividade aplicadas em estudos geofísicos, desde o planejamento inicial até a interpretação final dos dados. Os participantes sairão preparados para aplicar os conhecimentos adquiridos em projetos reais, enfrentando os desafios e aproveitando as oportunidades que a eletroresistividade oferece no campo da geofísica.  </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Procedimento de Outorga de Recursos Hídricos: Um Guia prático|4h|40" id="card1">
                                <label for="card1">
                                    <h5>Procedimento de Outorga de Recursos Hídricos: Um Guia prático</h5>
                                        <span>Ministrante: Brenda Barros</span>
                                        <br>
                                        <span>Turno: Manhã
                                        </span>
                                        <br>
                                        <span>Carga Horária: 4h
                                        <br>
                                        </span>Vagas: 30
                                        <br>
                                        <br>
                                        <span> <strong>Descrição:</strong> O minicurso em questão tem como finalidade apresentar as modalidades de outorga de recursos hídricos, emitidos pela Secretaria do Estado de Meio Ambiente (SEMAS/PA), bem como o detalhamento da legislação específica existente, requisitos e laudos técnicos necessários para a obtenção desse tipo de autorização.  Também será abordado o novo sistema de protocolos e processos, instituído pelo órgão. </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Introdução ao ArcGis Pro Aplicado à Exploração Mineral|6h|40" id="card1">
                                <label for="card1">
                                    <h5>Introdução ao ArcGis Pro Aplicado à Exploração Mineral</h5>
                                        <span>Ministrante: Gabriel Amorim</span>
                                        <br>
                                        <span>Turno: Manhã/Tarde
                                        <br>
                                        </span>Vagas: 20
                                        <br>
                                        <span>Carga Horária: 6h
                                        </span>
                                        <br>
                                            <br>
                                            <br>
                                        <span> <strong>Descrição:</strong> No mini-curso de introdução ao ArcGis Pro aplicado à exploração mineral será apresentado a nova interface do software, funcionalidades básicas mais utilizadas para confecção de mapas e planejamento de atividades relacionadas a exploração mineral (Planejamento de Sondagem, Linhas para levantamento geofísico, Programação de Amostragem de solo, Sondagem a Trado e Perfis de mapeamento Geológico).
                                        </span>
                                </label>
                            </div>
                            <div class="card">
                                <input type="checkbox" name="Aspectos Gerais da Sondagem desde ferramental, planejamento, execução até a validação.|6h|50" id="card1">
                                <label for="card1">
                                    <h5>Aspectos Gerais da Sondagem desde ferramental, planejamento, execução até a validação.</h5>
                                        
                                    <span>Ministrante: Nattânia Santos/ Bruno Mateus/ Milton Carvalho</span>
                                    <br>
                                    <span>Turno: Manhã/Tarde
                                    </span>
                                    <br>
                                    <span>Carga Horária: 6h
                                    <br>
                                    </span>Vagas: 15
                                    <br>
                                    <br>
                                    <span> <strong>Descrição:</strong> O curso terá uma abordagem teórica e prática sobre o mundo da sondagem. Primeiramente entender o que são sondas, tipos e funcionamento, assim seus ferramentais, como ocorre a operação e a arte de 'pescar' o testemunho. 
                                        Na parte prática iremos entender e avaliar as informações contidas nos boletins de sondagem, a fim de verificar a questão associadas a taxa de avanço e recuperação, bem como as implicações da diferença desses itens.
                                    </span>
                                </label>
                            </div>

                        <input type="submit" value="Inscrever-se" id="submitBtn" class="button" onclick="return validateForm();">
                    </form>
                    </div>
                    <div class="submissao-trabalho" style="display: none;">
                        <p>Para baixar os arquivos com exemplos de como devem ser formatados os trabalhos, clique nos botões abaixo:</p>
                        <a href="https://download1500.mediafire.com/ixfk96yxyiag5y55sxq6Wig_32vKO7VmxYLpbseJzIxFNjFjfmGV89Jf7y0gb5pEun6VCIvDMl5FjMDIYFjOm9SBSzaPWFIateQXdrQGABscEaaBPT7rw6hHGqXrJfY5zDr6W6IiL_l5QrZo1MdrrzLNtsHB7wqjDMeyzKqiGuWEg-M/fp6zgbsntbe3ynr/Modelo+de+Apresenta%C3%A7%C3%A3o+%28Palestras%29.pptx" download class="button">
                            <i class="fas fa-download"></i> Baixar Modelo de Apresentação
                        </a>
                        <a href="https://download1523.mediafire.com/gn6p1x26jjbgya5VWUvTLPD3Jn5plB4DLv9pFhaf13TIG8YsmjkSHBURJ2Hkalz6r6rQCBFRKe6EBnwnYBnVRxsfWyM20AmyXo2PkNPPyJoB3uezfOGMsNOF0pqOcYvJxr9CdumnYeJnQdecsEFGswxk42R5e2QH3506gzDYXYYPYdI/ni6lv4feuh068tk/Modelo+de+Banner+III+COAMA.pptx" download class="button">
                            <i class="fas fa-download"></i> Baixar Modelo de Banner
                        </a>
                        <a href="https://download854.mediafire.com/j4j9ysx9udegHXMO-UPQOCGDKzRX57bg3eI1gZ9vGmCPrUwp526Wn6HxYsLcmgBHG7cD1c7YaFoWnKRFzSP7BtI6qx_qO5oOr9bjPAprIlE9IGqY0ACclDiniGe_FMNI32p7HsNOZgiQrNvfHnqZdaDLI3-pxVxx80rvXgojJtXgnl8/o88kny95cara0lh/Modelo_de_artigo_Coama.docx" download class="button">
                            <i class="fas fa-download"></i> Baixar Modelo de Artigo
                        </a>
                    

                        <form action="{% url 'send-work' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Selecione o arquivo que deseja enviar para avaliação:</p>
                            <label class="label-input" for="comprovante-vinculo">
                                <i class="fas fa-file-alt icon-modify"></i>
                                {{ form.file }}
                            </label>
                        
                            <button id="submitBtnMobile" class="button">Enviar</button>
                        </form>
                    </div>
                </div>
        </div>
    </main>
    <footer>
        
        <div class="tj">
            <span>2024 © COAMA - Congresso Amazônico de Mineração, Metalurgia e Materiais. Desenvolvido por: BITS
                Jr.</span>
            <img src='{% static "src/bits-logo.png" %}' alt="Icone BITS JR. do Curso de Engenharia da Computação">
        </div>
        <div class="tj-media-query">
            <span>2024 © COAMA - Desenvolvido por: BITS
                Jr.</span>
            <img src='{% static "src/bits-logo.png" %}' alt="Icone BITS JR. do Curso de Engenharia da Computação">
        </div>
    </footer>

    <div class="dialog-container">
        <div class="dialog">
            <h2>Atenção</h2>
            <p>Preencha todos os campos obrigatórios.</p>
            <button onclick="fecharDialog()">Fechar</button>
        </div>
    </div>

    <div class="dialog-container" id="dialog-container-course">
        <div class="dialog">
            <h2>Atenção</h2>
            <p>Selecione pelo menos um mini-curso.</p>
            <button onclick="fecharDialogCourse()">Fechar</button>
        </div>
    </div>

    <script src="{% static "js/script.js" %}"></script>
    {% if payed == 'False' %}
    <script>
        const mp = new MercadoPago('APP_USR-52210169-dc3c-4707-9b39-7d935200d689', {locale: 'pt-BR'});
        const bricksBuilder = mp.bricks();
    
        mp.bricks().create("wallet", "wallet_container", {
            initialization: {
                preferenceId: "{{ preferenceId }}",
            },
            customization: {
                texts: {
                    valueProp: 'security_safety',
                },
                checkout: {
                    theme: {
                        elementsColor: "#FEB609",
                        headerColor: "#FEB609",
                    },
                },         
            },
        });
    </script>
    {% endif %}
</body>


</html>
